body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Segoe UI';
    overflow: hidden;
    background-color: rgb(110, 94, 78);
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.ui-horizontal-sep {
    grid-column: span 2;
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(122, 122, 122);
}
