<div style="background-color: #1e1e1e;">
    <span>{{scoredSkill}}</span>

    <br/>
    <hr/>
    <br/>

    <div class="skillLevelsGrid">

        <span class="left">Points</span>

        <div class="right skillPointsDispatchGrid">

            <div class="top weapon top-bg"></div>
            <div class="top helm top-bg"></div>
            <div class="top armor top-bg"></div>
            <div class="top gloves top-bg"></div>
            <div class="top tassets top-bg"></div>
            <div class="top leggings top-bg"></div>
            <div class="top talisman top-bg"></div>

            <img class="top weapon" src="{{pointsToEquipmentIcon('weapon', detailedScoredSkill.scores.weapon)}}"/>
            <img class="top helm" src="{{pointsToEquipmentIcon('helm', detailedScoredSkill.scores.helm)}}"/>
            <img class="top armor" src="{{pointsToEquipmentIcon('armor', detailedScoredSkill.scores.armor)}}"/>
            <img class="top gloves" src="{{pointsToEquipmentIcon('gloves', detailedScoredSkill.scores.gloves)}}"/>
            <img class="top tassets" src="{{pointsToEquipmentIcon('tassets', detailedScoredSkill.scores.tassets)}}"/>
            <img class="top leggings" src="{{pointsToEquipmentIcon('leggings', detailedScoredSkill.scores.leggings)}}"/>
            <img class="top talisman" src="{{pointsToEquipmentIcon('talisman', detailedScoredSkill.scores.talisman)}}"/>

            <div class="bottom weapon" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.weapon)"></div>
            <div class="bottom helm" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.helm)"></div>
            <div class="bottom armor" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.armor)"></div>
            <div class="bottom gloves" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.gloves)"></div>
            <div class="bottom tassets" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.tassets)"></div>
            <div class="bottom leggings" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.leggings)"></div>
            <div class="bottom talisman" [ngClass]="pointsToBottomHighlight(detailedScoredSkill.scores.talisman)"></div>

            <span class="bottom weapon">{{pointsToText(detailedScoredSkill.scores.weapon)}}</span>
            <span class="bottom helm">{{pointsToText(detailedScoredSkill.scores.helm)}}</span>
            <span class="bottom armor">{{pointsToText(detailedScoredSkill.scores.armor)}}</span>
            <span class="bottom gloves">{{pointsToText(detailedScoredSkill.scores.gloves)}}</span>
            <span class="bottom tassets">{{pointsToText(detailedScoredSkill.scores.tassets)}}</span>
            <span class="bottom leggings">{{pointsToText(detailedScoredSkill.scores.leggings)}}</span>
            <span class="bottom talisman">{{pointsToText(detailedScoredSkill.scores.talisman)}}</span>

        </div>

        <div class="ui-horizontal-sep"></div>

        <ng-template ngFor let-skillLevel [ngForOf]="detailedScoredSkill.skill.levels">
            <span class="left">Level {{skillLevel.level}}</span>
            <div class="right" [ngClass]="{'isActive': detailedScoredSkill.scores.total === skillLevel.level}">
                <div *ngFor="let ability of skillLevel.abilities">
                    {{ability.title}}
                </div>
            </div>
            <div class="ui-horizontal-sep" style="margin-top: 6px; margin-bottom: 6px;"></div>
        </ng-template>
    </div>
</div>
