.skillLevelsGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-column-gap: 24px;
}

.left {
    grid-column: 1;
}
.right {
    grid-column: 2;
}
.sep {
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: span 2;
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(122, 122, 122);
    margin-top: 6px;
    margin-bottom: 6px;
}
.isActive {
    color: rgb(114, 196, 81);
    /* color: rgb(66, 194, 72); */
}

img {
    width: 24px;
    height: 24px;
}

.skillPointsDispatchGrid {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(7, 26px);
    grid-template-rows: repeat(2, 26px);
    grid-column-gap: 16px;
}

.top-bg {
    width: 26px;
    height: 26px;
    border-color: #a0a0a0;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: #141414;
}
.bottom-bg {
    margin-top: 1px;
    width: 24px;
    height: 24px;
    border-color: #323232;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: #282828;
}

.bottom-bg-highlight {
    margin-top: 1px;
    width: 24px;
    height: 24px;
    border-color: #414037;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: #4b481d;
}

.top {
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
.bottom {
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.weapon {
    grid-column: 1;
}
.helm {
    grid-column: 2;
}
.armor {
    grid-column: 3;
}
.gloves {
    grid-column: 4;
}
.tassets {
    grid-column: 5;
}
.leggings {
    grid-column: 6;
}
.talisman {
    grid-column: 7;
}
