<span>{{scoredSkill}}</span>

<br/>
<hr/>
<br/>

<div class="skillLevelsGrid">
    <ng-template ngFor let-skillLevel [ngForOf]="detailedScoredSkill.skill.levels">
        <span class="left">Level {{skillLevel.level}}</span>
        <div class="right" [ngClass]="{'isActive': detailedScoredSkill.scores.total === skillLevel.level}">
            <div *ngFor="let ability of skillLevel.abilities">
                {{ability.title}}
            </div>
        </div>
        <div class="sep"></div>
    </ng-template>
</div>
